<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name = "hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>

        <property name = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <!-- Assume test is the database name -->

        <property name = "hibernate.connection.url">
            jdbc:mysql://localhost/sherlock
        </property>

        <property name = "hibernate.connection.username">
            springuser
        </property>

        <property name = "hibernate.connection.password">
            ThePassword
        </property>

        <!-- List of XML mapping files -->
        <!--<mapping resource = "hibernate/GameObject.hbm.xml"/>-->
        <mapping class="clue.knowledge.KnowledgeMatrix"/>
        <mapping class="clue.knowledge.PlayerKnowledge"/>
        <mapping class="clue.knowledge.Suggestion"/>
        <mapping class="clue.knowledge.SuggestionHistory"/>
        <mapping class="clue.logic.Card"/>
        <mapping class="clue.logic.Character" />
        <mapping class="clue.logic.GameBoard"/>
        <mapping class="clue.logic.GameObject"/>
        <mapping class="clue.logic.GamePiece"/>
        <mapping class="clue.logic.GameSquare"/>
        <mapping class="clue.logic.Player"/>
        <mapping class="clue.logic.Room"/>
        <mapping class="clue.logic.Weapon"/>

    </session-factory>
</hibernate-configuration>
