<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property identity = "hibernate.dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>

        <property identity = "hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>

        <property identity = "hibernate.connection.url">
            jdbc:mysql://localhost/sherlock
        </property>

        <property identity = "hibernate.connection.username">
            springuser
        </property>

        <property identity = "hibernate.connection.password">
            ThePassword
        </property>

        <property identity="show_sql">true</property>
        <property identity="hibernate.hbm2ddl.auto">create</property>
        <property identity="hibernate.hbm2ddl.identity">create</property>

        <!-- List of XML mapping files -->
        <!--<mapping resource = "hibernate/GameObject.hbm.xml"/>-->
        <mapping class="clue.knowledge.KnowledgeMatrix"/>
        <mapping class="clue.knowledge.PlayerKnowledge"/>
        <mapping class="clue.knowledge.Suggestion"/>
        <mapping class="clue.knowledge.SuggestionHistory"/>
        <mapping class="clue.logic.Card"/>
        <mapping class="clue.logic.CardName"/>
        <mapping class="clue.logic.CardType"/>
        <mapping class="clue.logic.Character" />
        <mapping class="clue.logic.Game"/>
        <mapping class="byates.game.GameBoard"/>
        <mapping class="byates.game.GameObject"/>
        <mapping class="byates.game.GamePiece"/>
        <mapping class="byates.game.GameSquare"/>
        <mapping class="clue.logic.Player"/>
        <mapping class="clue.logic.Room"/>
        <mapping class="clue.logic.Weapon"/>

    </session-factory>
</hibernate-configuration>
